
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
    font-weight: 150;
}

span {
    font-weight: lighter;
    font-size: small;
    font-stretch: extra-condensed;
}

#Square {
    width: 44px;
    height: 44px;
}

#BoxNumber {
    padding-top: 7px;
}
